<link rel="stylesheet" type="text/css" href="/css/joke-view.css" />
<script src="/scripts/joke-view.js"></script>

<div id="joke-container">
    <div id="setup-box" class="line-box">
        <div class="line-box-inside">
            <h2 id="setup-line"/>
        </div>
    </div>
    <div id="punchline-box" class="line-box">
        <div class="line-box-inside">
            <h2 id="punchline"/>
        </div>
    </div>
</div>
