.line-box {
    width: max-content;
    max-width: 70%;

    margin: 1.5%;
    padding: 5px;
    border: solid 2px;
    border-color: black;

    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.61);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.61);

    color: white;
    font-size: 2.2vw;
    font-family: monospace;
    text-align: center;

    position: relative;
    align-self: center;
}

.line-box-inside {
    padding: 15px;
    border: solid 1px;
    border-color: black;
}

#joke-container {
    width: 100%;
    min-height: 100%;
    
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}

#setup-box {
    background-color: #462066;
    left: -100%;
}

#punchline-box {
    background-color: #FF7A5A;
    left: 100%;
}